* {
  box-sizing: border-box;
}

:root {
  --theme: rgb(108, 99, 255);
  --grey: rgb(61, 59, 59);
}

main {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  /* background-color: black; */
  color: #fff;
}

/*====== typography ======*/

main h1 {
  font-weight: 700;
  color: #fff;
  font-size: 1.75rem;
}

main h2 {
  font-weight: 700;
  color: #000;
  font-size: 1.75rem;
}

main .intro {
  font-size: 1.15rem;
  margin-bottom: 2.5em;
}

main span {
  color: #fda039;
}

main .black {
  font-weight: 700;
  color: #000;
}

/*==== main-grid Layout ====*/

.main-grid {
  display: grid;
  grid-template-columns: minmax(1em, 1fr) minmax(0px, 500px) minmax(1em, 1fr);
  grid-column-gap: 2em;
}

/* ==== Layout ====*/

.header {
  background: #000;
}

.header-content {
  display: flex;
  flex-direction: row;
  grid-column: 2 / -2;
}

.logo {
  background: #fda039;
  color: #000;
  font-weight: 700;
  padding: 1em 0.5em;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.25rem;
}

.navigation {
  position: fixed;
  background: #000;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;
  transform: translateX(0);
  transition: transform 250ms;
}

.nav-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
  height: 100%;
  font-size: 3rem;
}

.nav-link {
  text-decoration: none;
  color: #fda039;
}

.nav-link:hover,
.nav-link:focus,
.close-nav:hover,
.close-nav:focus,
.open-nav:hover,
.open-nav:focus {
  color: #fff;
  cursor: pointer;
}

.open-nav {
  border: 0;
  background: 0;
  color: #fff;
  padding: 0.5em;
  margin-left: auto;
  font-size: 1em;
}

.navigation-open {
  transform: translateX(-100%);
}

.close-nav {
  border: 0;
  background: 0;
  color: #fda039;
  font-weight: 700;
  font-size: 3rem;
  padding: 0.5em;
  position: absolute;
}

.current {
  border-bottom: 1px solid #fda039;
}

main {
  background-color: #fff;
  color: #000;
  grid-column: 2 /-2;
}

.head {
  grid-column: 2 / -2;
  text-align: center;
  margin-top: 3em;
  margin-bottom: 3em;
}

.page-title {
  color: #000;
  font-size: 2.5rem;
  justify-self: center;
}

.main-image {
  grid-column: 2 / -2;
  object-fit: cover;
  max-width: 100%;
  display: block;
}

.main-text {
  grid-column: 2 / -2;
  margin-top: 3em;
  margin-bottom: 3em;
}

.section-title::after {
  content: "";
  display: block;
  width: 100px;
  height: 3px;
  margin-top: 1em;
  background: var(--theme);
  margin-left: auto;
  margin-right: auto;
}

.sub {
  margin-top: 3em;
}

/*==== footer ====*/

footer li a {
  color: rgb(141, 139, 151);
  margin: 2% 0%;
  display: inline-block;
  color: #838383;
  text-decoration: none;
}

footer li a::after {
  content: "";
  display: block;
  width: 0;
  height: 1px;
  background: rgb(108, 99, 255);
  transition: width 0.4s;
}
footer li a:hover::after {
  width: 100%;
}
footer #button-addon1 {
  color: var(--theme);
}
footer li {
  padding: 3% 0%;
}

footer i {
  color: var(--theme);
}

footer .form-control::placeholder {
  font-size: 0.95rem;
  color: #aaa;
  font-style: italic;
}

footer .form-control.shadow-0:focus {
  box-shadow: none;
}
footer {
  background-color: #f2f7fa !important;
}

footer .icon:hover span,
footer .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

footer .facebook:hover .tooltip,
footer .facebook:hover .tooltip::before {
  background-color: #3b5999;
  color: #ffffff;
}

footer .twitter:hover .tooltip,
footer .twitter:hover .tooltip::before {
  background-color: #46c1f6;
  color: #ffffff;
}

footer .instagram:hover .tooltip,
footer .instagram:hover .tooltip::before {
  background-color: #965cba;
  color: #ffffff;
}

footer .github:hover .tooltip,
footer .github:hover .tooltip::before {
  background-color: #333333;
  color: #ffffff;
}

footer .youtube:hover .tooltip,
footer .youtube:hover .tooltip::before {
  background-color: #de463b;
  color: #ffffff;
}

.social_icon {
  display: inline-flex;
}

footer .text-uppercase.font-weight-bold.mb-4 {
  font-size: 18px;
  font-weight: 500;
}

footer .icon {
  position: relative;
  background-color: #ffffff;
  border-radius: 50%;
  padding: 15px;
  margin: 10px;
  width: 50px;
  height: 50px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

/* footer .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background-color: #ffffff;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

footer .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background-color: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

footer .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
} */
/* -------------------------------------FOOTER-END------------------------------------- */

@media (min-width: 700px) {
  .page-title::after {
    content: "";
    display: block;
    width: 160px;
    height: 5px;
    background: var(--theme);
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
  }
}
